staging/
staging2/
main/
**/ai1wm-backups/
**/*.wpress
**/*.zip
wp-content/cache/
wp-content/upgrade/
*.log
*.sql
node_modules/
vendor/
aktonz-local-copy/
aktonz-local-copy/aktonz-local-copy/
wp-config.php
aktonz-local-copy/*/wp-config.php

wp-config-local.php
.DS_Store
**/*.off/
**/*disabled*/
wp-content/object-cache.php.disabled
wp-content/mu-plugins.disabled/
wp-content/plugins.disabled/
wp-content/plugins.off/
wp-content/themes.off/
.devcontainer/

# Local deploy keys
deploy_aktonz_key
deploy_aktonz_key.pub
