# BEGIN HMWP_RULES
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^([0-9a-zA-Z_-]+/)?storage/f0c7ace559/(.*) /storage/siteground-optimizer-assets/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?newlogin$ /wp-login.php [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?newlogin/(.*) /wp-login.php$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?lostpass$ /wp-login.php?action=lostpassword [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?register$ /wp-login.php?action=register [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/5068b534d4/(.*) /wp-content/plugins/admin-notices-manager/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/4a1d1fdf6f/(.*) /wp-content/plugins/apex27-wp-plugin/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/5186ba8c66/(.*) /wp-content/plugins/code-snippets/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/8d29689992/(.*) /wp-content/plugins/codepress-admin-columns/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/f65f29574d/(.*) /wp-content/plugins/elementor/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/d0f4711431/(.*) /wp-content/plugins/hide-my-wp/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/2796994f94/(.*) /wp-content/plugins/hostinger-ai-assistant/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/036711803a/(.*) /wp-content/plugins/hostinger/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/500ad9c0bb/(.*) /wp-content/plugins/jet-engine-dynamic-tables-module/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/6288320f55/(.*) /wp-content/plugins/jet-engine/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/7879f887a8/(.*) /wp-content/plugins/jet-menu/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/5fd970fc4b/(.*) /wp-content/plugins/jet-style-manager/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/43c0f324e3/(.*) /wp-content/plugins/jet-theme-core/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/89e8b50d02/(.*) /wp-content/plugins/jetformbuilder/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/966a9fe7d2/(.*) /wp-content/plugins/litespeed-cache/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/6d42aa5957/(.*) /wp-content/plugins/user-role-editor/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/8d859dbef1/(.*) /wp-content/plugins/user-switching/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/7c27ee996d/(.*) /wp-content/plugins/woo-stripe-payment/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/c278071ce7/(.*) /wp-content/plugins/woocommerce-legacy-rest-api/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/39d10ee62c/(.*) /wp-content/plugins/woocommerce/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/f9c7f63a6a/(.*) /wp-content/plugins/wordpress-seo/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/7755877a95/(.*) /wp-content/plugins/wp-live-chat-support/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/modules/(.*) /wp-content/plugins/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/views/f5b768225a/design.css$ /wp-content/themes/kava/style.css [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/views/f5b768225a/(.*) /wp-content/themes/kava/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/views/(.*) /wp-content/themes/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?storage/(.*) /wp-content/uploads/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?core/(.*) /wp-content/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?lib/(.*) /wp-includes/$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?comments/(.*) /wp-comments-post.php$2 [QSA,NC,L]
RewriteRule ^([0-9a-zA-Z_-]+/)?writer/(.*) /author/$2 [QSA,NC,L]
</IfModule>
# END HMWP_RULES
# BEGIN HMWP_VULNERABILITY
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_URI} !/wp-admin [NC]
RewriteCond %{QUERY_STRING} ^author=\d+ [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REMOTE_ADDR} ^35.214.130.87$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^192.185.4.40$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^15.235.50.223$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^172.105.48.130$ [NC,OR]
RewriteCond %{REMOTE_ADDR} ^167.99.233.123$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} (wpthemedetector|builtwith|isitwp|wapalyzer|mShots|WhatCMS|gochyu|wpdetector|scanwp) [NC]
RewriteRule ^(.*)$ - [L,R=404]
</IfModule>
<IfModule mod_headers.c>
Header always unset x-powered-by
Header always unset server
ServerSignature Off
</IfModule>
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=15768000;includeSubdomains"
Header set Content-Security-Policy "object-src 'none'"
Header set X-XSS-Protection "1; mode=block"
</IfModule>
# END HMWP_VULNERABILITY

# BEGIN LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
<IfModule LiteSpeed>
RewriteEngine on
CacheLookup on
RewriteRule .* - [E=Cache-Control:no-autoflush]
RewriteRule cache/ls/debug/.*\.log$ - [F,L]
RewriteRule \.litespeed_conf\.dat - [F,L]

### marker ASYNC start ###
RewriteCond %{REQUEST_URI} /wp-admin/admin-ajax\.php
RewriteCond %{QUERY_STRING} action=async_litespeed
RewriteRule .* - [E=noabort:1]
### marker ASYNC end ###

### marker MOBILE start ###
RewriteCond %{HTTP_USER_AGENT} Mobile|Android|Silk/|Kindle|BlackBerry|Opera\ Mini|Opera\ Mobi [NC]
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+ismobile]
### marker MOBILE end ###

### marker WEBP start ###
RewriteCond %{HTTP_ACCEPT} "image/webp"
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+webp]
RewriteCond %{HTTP_USER_AGENT} iPhone.*Version/(\d{2}).*Safari
RewriteCond %1 >13
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+webp]
RewriteCond %{HTTP_USER_AGENT} Firefox/([0-9]+)
RewriteCond %1 >=65
RewriteRule .* - [E=Cache-Control:vary=%{ENV:LSCACHE_VARY_VALUE}+webp]
### marker WEBP end ###

### marker DROPQS start ###
CacheKeyModify -qs:fbclid
CacheKeyModify -qs:gclid
CacheKeyModify -qs:utm*
CacheKeyModify -qs:_ga
### marker DROPQS end ###

</IfModule>
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END LSCACHE
# BEGIN NON_LSCACHE
## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
### marker BROWSER CACHE start ###
<IfModule mod_expires.c>
ExpiresActive on
ExpiresByType application/pdf A31557600
ExpiresByType image/x-icon A31557600
ExpiresByType image/vnd.microsoft.icon A31557600
ExpiresByType image/svg+xml A31557600

ExpiresByType image/jpg A31557600
ExpiresByType image/jpeg A31557600
ExpiresByType image/png A31557600
ExpiresByType image/gif A31557600
ExpiresByType image/webp A31557600
ExpiresByType image/avif A31557600

ExpiresByType video/ogg A31557600
ExpiresByType audio/ogg A31557600
ExpiresByType video/mp4 A31557600
ExpiresByType video/webm A31557600

ExpiresByType text/css A31557600
ExpiresByType text/javascript A31557600
ExpiresByType application/javascript A31557600
ExpiresByType application/x-javascript A31557600

ExpiresByType application/x-font-ttf A31557600
ExpiresByType application/x-font-woff A31557600
ExpiresByType application/font-woff A31557600
ExpiresByType application/font-woff2 A31557600
ExpiresByType application/vnd.ms-fontobject A31557600
ExpiresByType font/ttf A31557600
ExpiresByType font/otf A31557600
ExpiresByType font/woff A31557600
ExpiresByType font/woff2 A31557600

</IfModule>
### marker BROWSER CACHE end ###

## LITESPEED WP CACHE PLUGIN - Do not edit the contents of this block! ##
# END NON_LSCACHE
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
